<!doctype html>

<form action="/place" method="post" autocomplete="off">
    <label for="place-name">Name:</label><br>
    <input type="text" id="place-name" name="name"><br>

    <label for="place-rating">Rating:</label><br>
    <input type="text" id="place-rating" name="rating"><br>

    <label for="place-types">Types:</label><br>
    <input type="text" id="place-types" name="types"><br>

    <label for="place-tagline">Tagline:</label><br>
    <input type="text" id="place-tagline" name="tagline"><br>

    <label for="place-review">Review:</label><br>
    <input type="text" id="place-review" name="review"><br>

    <input type="submit"/>
</form>




