body {
    margin: 0px;
    font-family: "Montserrat";
}

#nav-bar {
    top: 0;
    position: fixed;
    z-index: 999;
    display: inline-block;
    background-color: #0cc6f5;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#nav-bar ul {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

#nav-bar ul:hover {
    background-color: #ddd;
    margin:auto;
}

.place-content-sheet {
    z-index: 5;
    position:fixed;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    width: 0;
    transition: 0.5s;
    overflow-x: hidden;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2);
}

#place-side-sheet {
    height: 85%;
}

#place-bottom-sheet {
    z-index: 5;
    bottom: 0;
    left: 0;
}

.place-content-sheet-close-button {
    color: #000000;
    text-decoration: none;
    font-size: 36px;
}

#place-bottom-sheet-drag-handle {
    width: 30px;
    height: 30px;
    background-color: #0cc6f5;
    border-radius: 10px;
    cursor: grab;
    margin: 0 auto;
}

#place-bottom-sheet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
}

@media (max-device-width: 768px) {

    #nav-bar {
        font-size: 40px;
    }

}
