@import url('/static/styles/place-list-item-type.css');

.place-list-table {
    margin: 25px 0;
    width:70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
    font-optical-sizing: auto;
}

.place-list-table th {
    font-weight:600;
    font-size: 16px;
    height: 40px;
    border-bottom: 1px solid #ced4de;
}

.place-list-table-header {
    position: sticky;
    top: 122px;
    background-color: #0CBFEC;
}

.place-list-table tr {
    height: 60px;
    border-bottom: 1px solid #ced4de;
    cursor: pointer;
}

.place-list-table tr:hover {
    background-color: #ddd;
}

.place-list-item-rating {
    font-weight: 800;
    color: #0CF589
}

.place-list-table td {
    font-weight:500;
    font-size: 14px;
}

@media (max-device-width: 768px) {
    .place-list-table {
        width:100%;
    }

    .place-list-table tr {
        border-bottom: solid #ced4de;
        border-bottom-width: thin;
        height: 300px;
        align-content: center;
    }

    .place-list-item-container {
        display: grid;
        height: 250px;
        grid-template-areas:
        "rating name"
        "rating types"
        "rating tagline";
        grid-template-columns: 1fr 4fr;
        padding: 50px
    }

    .place-list-item-rating {
        font-size: 48px;
        align-content: center;
        grid-area: rating;
        /* border-style: solid; */
    }

    .place-list-item-name {
        grid-area: name;
        font-size: 36px;
        text-align: left;
        align-content: center
        /* border-style: solid; */
    }

    .place-list-item-types {
        grid-area: types;
        text-align: left;
        align-content: center;
    }

    .place-list-item-type {
        height: 36px;
        font-size: 30px;
    }
    
    .place-list-item-tagline {
        grid-area: tagline;
        text-align: left;
        align-content: center;
        font-size: 30px
    }
}
