@import url('/static/styles/place-list-item-type.css');

.place-list-table {
    margin: 25px 0;
    width:70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
    font-optical-sizing: auto;
}

.place-list-table th {
    font-weight:600;
    font-size: 16px;
    height: 40px;
    border-bottom: 1px solid #ced4de;
}

.place-list-table-header {
    position: sticky;
    top: 122px;
    background-color: #0CBFEC;
}

.place-list-table tr {
    height: 60px;
    border-bottom: 1px solid #ced4de;
    cursor: pointer;
}

.place-list-table tr:hover {
    background-color: #ddd;
}

.place-list-item-rating {
    font-weight: 800;
    color: #0CF589
}

.place-list-table td {
    font-weight:500;
    font-size: 14px;
}
