#search-bar {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 70%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    display: block;
    margin-top: 70px; /* Match height of nav bar */
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 3;
    font-family: "Montserrat";
    position: sticky;
    top: 70px; /* Match with margin-top */
}

@media (max-device-width: 768px) {
    #search-bar {
        font-size: 36px;
        margin-top: 150px; 
        border-radius: 100px;
        text-indent: 30px;
        top: 150px;
    }
}
